body {
	width:100%;
	background: url(images/header.jpg) #eee top right no-repeat;
	font-family:"Microsoft YaHei","Helvetica";
	margin:0px;
	background-size: 2048px 212px;
}
a {
	color:#000;
}
a:hover {
	color:#333;
}
input,* {
	font-family:"Microsoft YaHei","Helvetica";
}
ul {
	list-style-type:none;
}
a {
	text-decoration:none;
}
.alignleft {
	float:left;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.alignright {
	float:right;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:10px;
}
.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img {
	border:none;
}
p {
	font-size:14px;
	margin: 0 10px;
	line-height: 28px;
}
#header {
	height:212px;
	margin-left:0px;
}
#logo {
	float:left;
	padding-top:50px;
	padding-left:10px;
	font-family:"Helvetica";
}
#header .tbg {
	float:left;
	margin-top:55px;
	margin-left:20px;
	margin-right:0px;
	padding:0px;
	height:80px;
	width:5px;
	background:#6ba3e2;
}
#logo .title {
	color:#ff9600;
	font-size:40px;
}
#logo .tit {
	padding-top:2px;
	font-size:24px;
	color:#fff;
}
#tab {
	width:960px;
	padding-top:20px;
	clear:both;
	margin-left:0px;
}
#tab a {
	font-size:16px;
	padding:5px 15px;
	color:#f3f3f3;
	background: rgb(70,130,180);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
/* #tab .vsss,#tab .page_item,#tab .notvs {
	display:none;
} */
#tab .vsss a {
	color: #fff;
	font-weight:bold;
	background: #1F76B6;
}
#tab .current_page_item a {
	color: #fff;
	font-weight:bold;
	background: #1F76B6;
}
#tab ul {
	margin:0px;
	padding-left:20px;
}
#tab li {
	float:left;
	width:auto;
	height:40px;
	line-height:40px;
	text-align:center;
	padding:0 2px;
	margin-right:15px;
}
#tab li a:hover {
	color:#fff;
	background:#0099FF;
}
#main {
	width:960px;
	margin:0 auto;
	height:auto;
}
#maincon {
	width:960px;
	margin-top:10px;
	padding-bottom:20px;
	margin-bottom:10px;
	background:#fff;
	min-height:1230px;
	border:1px solid rgb(216,216,219);
	-moz-box-shadow:0px 0px 3px #BFBFBF;
	-webkit-box-shadow:0px 0px 3px #BFBFBF;
	box-shadow:0px 0px 3px #BFBFBF;
}
#content {
	background:#fff;
	float:left;
	width:74%;
}
#side {
	background:#fff;
	float:right;
	width:23%;
	padding-top:15px;
	padding-right:10px;
}
#footer {
	margin:0 auto;
	min-height: 212px;
	height:auto;
	background: url(images/header2.jpg) right no-repeat !important;
	background-size: 2048px 212px !important;
	}
#footer .lk {
	color:#c67e17;
	font-family:"Helvetica";
	font-size:28px;
	float:left;
	padding-top:15px;
	padding-left:30px;
	font-weight:bold;
}
#footer .ri {
	padding-right:10px;
	padding-top:0px;
	padding-bottom:0px;
	text-align:right;
	color: #FFF;
	font-size:14px;
}
#footer p {
	margin:0px;
	line-height:20px;
}
#links {
	position:absolute;
	margin-top:10px;
	font-size:14px;
	margin-right:0px;
	left:0px;
	padding:0px;
}
#links .u1 {
	float:left;
	padding:0px;
	margin-top:20px;
	margin-left:40px;
	margin-right:0px;
}
#links .u2 {
	float:left;
	padding:0px;
	margin-top:20px;
	margin-left:20px;
	margin-right:0px;
}
#links .u3 {
	float:left;
	padding:0px;
	margin-top:20px;
	margin-left:20px;
	margin-right:0px;
}
#links li {
	text-align:center;
	background:#29578b;
	margin:3px;
	padding:5px;
	width:120px;
}
#links a {
	width:120px;
	color:#eee;
}
#links li:hover {
	background:#2e619a;
}
.blog {
	}
.blogdate {
	z-index:-1;
	float:left;
	margin-left:-1px;
	margin-top:2px;
	text-align:center;
	right:50px;
	line-height:30px;
	height:30px;
	width:50px;
	background:#3c98ff;
	color:#fff;
	font-size:13px;
}
.blogcom {
	float:left;
	margin-left:-1px;
	z-index:-1;
	margin-top:2px;
	font-size:13px;
	text-align:center;
	line-height:30px;
	height:30px;
	width:50px;
	background:#0078FF;
	color:#fff;
}
.blogdate:hover {
	background:#23488f;
}
.blogcom:hover {
	background:#3c98ff;
}
.blogtitle {
	position:relative;
	zoom:1;
	margin-top:15px;
	font-size:40px;
	line-height:40px;
	margin-left:-10px;
	width:80%;
}
.blogtitle a:hover {
	color:#ffffff;
	background:rgb(70,130,180);
}
.blogtitle a {
	height:40px;
	line-height:40px;
	font-size:20px;
	padding:10px 25px 10px 15px;
	color:#fff;
	background: #28ABDB;
}
.blogcon {
	padding-top:0px;
	clear:both;
	font-size:14px;
	padding-bottom:0px;
}
#maincon .blogcon {
	padding-top:15px;
	padding-left:5px;
}
.blogmeta {
	display:none;
	text-align:left;
	font-size:13px;
	padding-right:20px;
	margin-left:750px;
	overflow:hidden;
	margin-bottom:0px;
	margin-top:10px;
	position:absolute;
	white-space:nowrap;
}
.blogmeta li {
	margin-bottom:5px;
}
.more-link {
	display:none;
}
.updown {
	padding-top:10px;
	padding-left:5px;
}
.updown a {
	color:#eee;
	margin-right:10px;
	background:#3c98ff;
	text-align:center;
	padding:5px 25px;
}
.updown a:hover {
	color:#fff;
	background:#ff9600;
}
.blogcate {
	background:url(images/tag.png) no-repeat left;
	padding-left:30px;
}
.blogau {
	background:url(images/user.png) no-repeat left;
	padding-left:30px;
}
#blogcontent {
	width:960px;
	margin-top:10px;
	margin-bottom:10px;
	background:#fff;
	border:1px solid rgb(216,216,219);
	-moz-box-shadow:0px 0px 3px #BFBFBF;
	-webkit-box-shadow:0px 0px 3px #BFBFBF;
	box-shadow:0px 0px 3px #BFBFBF;
}
#blogcontent p {
	padding: 10px;
}
.sids {
	background:#f7f7f7;
	font-size:12px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	/* padding-top:5px;*/
}
.sids p {
	font-size: 12px;
}
.sidetitle {
	font-weight:bold;
	font-size:15px;
	padding-top:20px;
	padding:10px 10px 5px 8px;
	line-height: 15px;
	background:#5F5F5F;
	color:#fff;
	height:20px;
	border-left-style:solid;
	border-left-width:8px;
	border-left-color:rgb(121,121,121);
	margin-bottom: 5px;
}
.sids p {
	padding:5px;
}
.sids ul {
	padding:0px;
	margin:8px 2px 8px 2px;
}
.sids li {
	margin:0px 0px 0px 10px;
	list-style-type:none;
	padding-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
	width:180px;
}
.sids li a {
	color:#000;
}
.sids li a:hover {
	color:#444;
}
input {
	border-radius:0;
	-webkit-appearance:none;
	border:0px;
}
#search {
	padding-top:3px;
	float:right;
	padding-right:0px;
	height:30px;
}
#search .ipt {
	height:30px;
	width:160px;
	filter:Alpha(Opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
}
#search .search-submit {
	font-size:14px;
	margin-left:5px;
	display:inline-block;
	line-height:30px;
	height: 33px;
	width:50px;
	text-align:center;
	background-color: #1F76B6;
	color:#FAFAFA;
	border:0px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
#search .search-submit:hover {
	background-color:#28ABDB;
	cursor:pointer;
}
#author,#email,#url {
	background: #FFFFFF;
	border: 2px solid;
	border-color: rgb(70,130,180);
	font-size: 12px;
	padding: 0px 6px;
	margin: 0;
	position: relative;
	top: -195px;
	height: 26px;
	left: 50px;
	width: 150px;
}
.postcomments,.sidecomments {
	overflow:hidden;
	margin:0 auto;
	text-align:left;
}
.postcomments {
	width:82%;
}
.sidecomments {
	width:90%;
}
.comment-body p {
	padding: 7px 10px !important;
}
#commentlist {
	margin:0;
	padding:0;
	font-size:20px;
}
p.comments {
	font-size:1em;
	font-weight:700;
	margin:10px 20px;
}
p.comments a {
	font-style:italic;
	font-weight:400;
	color:#5f6a72;
	text-decoration:underline;
}
.page .nocomments {
	display:none;
}
.commentlist {
	margin:0;
	list-style:none;
	padding:0px;
}
.commentlist p {
	margin-bottom:5px;
	margin-top:5px;
}
.commentlist .list {
	position:relative;
	overflow:hidden;
	font-size:1em;
	line-height:18px;
	margin-left:40px;
}
.commentlist .list .avatar {
	position:absolute;
	top:8px;
	left:0;
	height:48px;
	width:48px;
	padding:2px 3px 3px;
	border-radius: 50%;
}
.commentlist .bubble {
	float:left;
	margin:0 45px;
	width:auto;
}
.commentlist .bubble,.commentlist li .bubble td {
	border:none;
	padding:0;
}
.commentlist .list .comment-author {
	clear:both;
	height: 40px;
	line-height: 30px;
	font-size: 12px;
}

.commentlist .list cite {
	font-style:normal;
	font-weight:400;
	font-size: 12px;
	height: 40px;
	background: #bbb;
	color: #fff;
	padding: 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 40px;
	margin-right: 10px;
	margin-left: 10px;
}
.commentlist .list cite a {
	color: #FFF;
}
.commentlist .list .comment-meta {
	}
.commentlist .list .comment-meta a {
	color:#666;
}
.commentlist .list .comment-meta a:hover {
	color:#08c;
}
.commentlist .children {
	margin-right:20px;
}
.commentlist .children .list {
	text-align:right;
}
.commentlist .children .avatar {
	left:auto;
	right:0;
}
.commentlist .children .bubble {
	float:right;
	left:auto;
}
.commentlist .children .comment-author {
	text-align:right;
}
.commentlist .bubble .topleft {
	background-position:left top;
	height:9px;
	width:18px;
}
.commentlist .bubble .topright {
	background-position:-18px top;
	height:9px;
	width:11px;
}
.commentlist .bubble .bottomleft {
	background-position:left -9px;
	width:18px;
	height:12px;
}
.commentlist .bubble .bottomright {
	background-position:right -9px;
	width:11px;
	height:12px;
}
.commentlist .bubble .top {
	background-position:top;
	font-size:1px;
	height:9px;
}
.commentlist .bubble .bottom {
	background-position:0 -9px;
	height:12px;
}
.commentlist .bubble .left {
	background-position:left;
	width:18px;
}
.commentlist .bubble .right {
	background-position:-18px 0;
	width:11px;
}
.commentlist .bubble .comment-body {
	text-align:left;
	background:#3c98ff;
	color:#fff;
	/* width: 305px; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.commentlist .bubble .comment-body:hover {
	background:#0066d9;
	color:#fff;
}
.commentlist .bubble .comment-body table {
	border:1px solid #bbb;
}
.commentlist .bubble .comment-body th,.commentlist .bubble .comment-body td {
	border:1px solid #bbb;
	padding:3px 5px;
}
.commentlist .children .bubble .topleft {
	background-position:0 -21px;
	height:9px;
	width:11px;
}
.commentlist .children .bubble .topright {
	background-position:-11px -21px;
	height:9px;
	width:18px;
}
.commentlist .children .bubble .bottomleft {
	background-position:0 bottom;
	width:11px;
	height:12px;
}
.commentlist .children .bubble .bottomright {
	background-position:right bottom;
	width:18px;
	height:12px;
}
.commentlist .children .bubble .top {
	background-position:0 -21px;
	font-size:1px;
	height:9px;
}
.commentlist .children .bubble .bottom {
	background-position:bottom;
	height:12px;
}
.commentlist .children .bubble .left {
	background-position:-29px 0;
	width:11px;
}
.commentlist .children .bubble .right {
	background-position:right;
	width:18px;
}
.commentlist .children .bubble .comment-body {
	background: #435e88;
	color:#fff;
}
.commentlist .children .bubble .comment-body:hover {
	background:#1B4486;
	color:#fff;
}
.commentlist .pingback p {
	border:1px solid #ddd;
	margin:10px 0;
	padding:10px 20px;
	border-radius:7px;
	width:400px;
}
.commentlist .pingback small {
	color:#777;
}
.commentlist .pingback cite {
	color:#1b4486;
	font-weight:700;
}
.commentlist .pingback cite a {
	color:#1b4486;
}
h1 {
	margin-top:14px;
	margin-right:0px;
	margin-bottom:7px;
	margin-left:0px;
	padding-top:6px;
	padding-right:0px;
	padding-bottom:6px;
	padding-left:10px;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:2px;
	border-style:initial;
	border-color:initial;
	border-image:initial;
	outline-width:0px;
	outline-style:initial;
	outline-color:initial;
	font-size:20px;
	vertical-align:baseline;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#e3e3e3;
	border-left-style:solid;
	border-left-color:rgb(70,130,180);
	color:#333;
	text-align:-webkit-auto;
}
h2 {
	margin-top:5px;
	/* margin-right:10px;*/
	margin-bottom:5px;
	margin-left:15px;
	padding-top:6px;
	padding-right:0px;
	padding-bottom:5px;
	padding-left:10px;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:2px;
	border-style:initial;
	border-color:initial;
	border-image:initial;
	outline-width:0px;
	outline-style:initial;
	outline-color:initial;
	font-size:16px;
	vertical-align:baseline;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#efefef;
	border-left-style:solid;
	border-left-color:rgb(70,130,180);
	color:#333;
	text-align:-webkit-auto;
}
h3 {
	display:block;
	font-size:1.17em;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	font-weight:bold;
}
#comments,#reply-title {
	margin-top: 10px;
	margin-right:0px;
	margin-bottom:7px;
	margin-left:0px;
	padding-top:6px;
	padding-right:0px;
	padding-bottom:6px;
	padding-left:10px;
	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:5px;
	border-style:initial;
	border-color:initial;
	border-image:initial;
	outline-width:0px;
	outline-style:initial;
	outline-color:initial;
	font-size:20px;
	vertical-align:baseline;
	background-image:initial;
	background-attachment:initial;
	background-origin:initial;
	background-clip:initial;
	background-color:#e3e3e3;
	border-left-style:solid;
	border-left-color:rgb(70,130,180);
	color:#333;
	text-align:-webkit-auto;
}
#submit {
	font-size:14px;
	display:inline-block;
	line-height:30px;
	height:30px;
	width:100px;
	text-align:center;
	background-color:rgb(70,130,180);
	color:#FAFAFA;
	border:0px;
	font-family:"Microsoft YaHei";
	float:left;
	position:relative;
	top: -231px;
	left: 578px;
}
input#submit {
	}
#submit:hover {
	background-color:#3c98ff;
	cursor:pointer;
}
.comment-notes {
	display:none;
}
textarea#comment {
	height: 148px;
	width: 420px;
	overflow:hidden;
	border: 2px solid;
	border-color: rgb(70,130,180);
	position: relative;
	top: 3px;
}
.ad {
	position:relative;
	float:right;
	right:30px;
	top:-20px;
	overflow:hidden;
}
#commentform {
	margin-left:20px;
	height: 188px;
	/* margin-bottom: 0px;*/
	margin-top: 20px;
}
#commentform p {
	padding:2px;
}
#respond form label {
	display:block;
	background: rgb(70,130,180);
	color: #fff;
	text-align: center;
	width: 50px;
	margin: 0;
	line-height: 30px;
	position: relative;
	top: -165px;
}
.comment-form-comment {
	position:relative;
	left:250px;
	top: 0px;
	width: 500px;
}
.comment-form-comment label {
	display: none !important;
}
#respond {
	display:block;
}
blockquote {
	border-left:5px solid #EAEEF1;
	background:#fff;
	/* width:60%; */
	color:#555;
	margin:20px;
	padding:0 20px;
}
blockquote a {
	color:#e81717;
	font-weight:bold;
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}
#posttj img {
	display:none;
}
#contactme {
	clear:both;
	width:960px;
	margin:0 auto;
}
#contactme .items {
	float:left;
	margin:10px;
}
#mail {
	width: 48px;
	height: 48px;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	background:url(images/mail.png);
	background-size: 48px 48px;	
}
#mail:hover {
	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
#qq {
	width: 48px;
	height: 48px;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	background: url(images/qq.png) no-repeat;
	background-size: 48px 48px;
}
#qq:hover {
	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
#github {
	width: 48px;
	height: 48px;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	background:url(images/github.png);
	background-size: 48px 48px;
}
#github:hover {
	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
#twitter {
	width: 48px;
	height: 48px;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	background:url(images/twitter.png);
	background-size: 48px 48px;	
}
#twitter:hover {
	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
#weibo {
	width: 48px;
	height: 48px;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	background:url(images/weibo.png);
	background-size: 48px 48px;
}
#weibo:hover {
	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
#baiduweb {
	width: 48px;
	height: 48px;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	filter:grayscale(100%);
	filter:gray;
	background:url(images/baiduweb.png);
	background-size: 48px 48px;	
}
#baiduweb:hover {
	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
#contactme .txt {
	clear:both;
	height:30px;
	line-height:30px;
	color:#f3f3f3;
	text-align:center;
	font-size:13px;
	width:960px;
	background:#333;
}
#contactme .txt1 {
	clear:both;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	font-size:13px;
	width:960px;
	background:#ff9600;
}
#contactme a {
	margin:0px;
	padding:0px;
}
#contactme p {
	display:none;
}
#contactme .contactmain {
	height: 70px;
	width: 450px;
	margin:0 auto;
}
pre {
	padding: 15px;
	margin: 20px;
	line-height: 20px;
	font-size: 13px;
	background: #FDFDFD;
	border-left: 6px solid #9E9E9E;
	max-height:500px;
	overflow:overlay;
}
#feed li {
	display: inline;
	padding: 0;
	margin: 3px;
}
#feed ul {
	width: 200px;
	margin: 0 auto;
}
#feed img {
	width:40px;
	height:40px;
}
#commentside li {
	padding: 0px;
	margin: 0px 0px 5px 5px;
	width: 208px;
}
.leftimg {
	float:left;
	width:40px;
	margin-top: 4px;
	height:50px;
	margin-left: 5px;
}
.rightcomments {
	float: right;
	width: 142px;
	height: 38px;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 22px;
	background: #F1F1F1;
	padding: 10px;
}
.rightcomments a {
	color:#1A1A1A;
}
.leftimg img {
	width: 32px;
	height: 32px;
	float: left;
	font-size: 0;
	border-radius: 50%;
}
.imgtx {
	float: left;
	margin-top: 36px;
	margin-left: -35px;
	text-align: center;
	width: 40px;
}
#cate li{display: inline-block;width: 80px;}
#cate li a{
	width: 80px;
	background: #F1F1F1;
	margin:0;
	line-height: 30px;
	text-align: center;
	height: 30px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cate ul {
	margin:0;
}
#cate .current-cat {
	/* background: #0099FF; */
}
#cate .current-cat a {
	color:#fff;
	background: #454DBE;
	font-weight:bold;
}
#cate li a:hover {
	background: #0099FF;
	color:#fff !important;
}
.tcounts {
	color: #fff;
	font-weight:bold;
	font-size: 15px;
	background: #4399F7;
	padding: 8px;
	margin: 0 5px;
}
.dottit {
	width: 0px;
	height:0px;
	margin-left: -10px;
	margin-top: 2px;
	line-height: 0px;
	border-width: 13px 0px 0px 10px;
	border-style: solid dashed dashed dashed;
	border-left-color: transparent;
	border-right-color: transparent;
	color: rgb(70,130,180);
	margin-bottom: -14px;
}
.comment-reply-link{
	display:none;
}
time{display:none;}
/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 40px;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}

/* Kukuri */
.link--kukuri {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 50px;
	color: #ff9600;
}

.link--kukuri:hover {
	color: #fff;
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	background: #162A4D;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: rgb(255, 136, 0);
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}
ul[data-liffect="flipInY"] li {
    opacity: 0;
    position: relative;
    -webkit-animation: flipInY 600ms ease both;
    -webkit-animation-play-state: paused;
    -webkit-backface-visibility: visible;
    -moz-animation: flipInY 600ms ease both;
    -moz-animation-play-state: paused;
    -moz-backface-visibility: visible;
    -o-animation: flipInY 600ms ease both;
    -o-animation-play-state: paused;
    -o-backface-visibility: visible;
    animation: flipInY 600ms ease both;
    animation-play-state: paused;
    backface-visibility: visible;
}

ul[data-liffect="flipInY"].play li {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes flipInY {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(80deg); }
    40% { -webkit-transform: perspective(400px) rotateY(-20deg); }
    70% { -webkit-transform: perspective(400px) rotateY(10deg); }
    90% { -webkit-transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}

@-moz-keyframes flipInY {
    0% { opacity: 0; -moz-transform: perspective(400px) rotateY(80deg); }
    40% { -moz-transform: perspective(400px) rotateY(-20deg); }
    70% { -moz-transform: perspective(400px) rotateY(10deg); }
    90% { -moz-transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; -moz-transform: perspective(400px) rotateY(0deg); }
}

@-o-keyframes flipInY {
    0% { opacity: 0; -o-transform: perspective(400px) rotateY(80deg); }
    40% { -o-transform: perspective(400px) rotateY(-20deg); }
    70% { -o-transform: perspective(400px) rotateY(10deg); }
    90% { -o-transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; -o-transform: perspective(400px) rotateY(0deg); }
}

@keyframes flipInY {
    0% { opacity: 0; -webkit-transform: perspective(400px) rotateY(80deg); }
    40% { -webkit-transform: perspective(400px) rotateY(-20deg); }
    70% { -webkit-transform: perspective(400px) rotateY(10deg); }
    90% { -webkit-transform: perspective(400px) rotateY(-5deg); }
    100% { opacity: 1; -webkit-transform: perspective(400px) rotateY(0deg); }
}